name: Lint Markdown

on:
  pull_request:
  merge_group:

jobs:
  markdown-lint:
    runs-on: ubuntu-22.04
    steps:
      - name: Git Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.11

      - name: Setup uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: markdownlint
        run: uv run --locked --only-dev pymarkdown scan .
